@import "tailwindcss";

.c1{
    background: linear-gradient(to right, #7b37ac, #91114f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.c2{
    background: linear-gradient(to right, #47a571, #861c1c);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.c3{
    background: linear-gradient(to right, #142268, #a6ec36);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.c4{
    background: linear-gradient(to right, #a4af0d, #b807a9);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.c5{
    background: linear-gradient(to right, #eaec61, #60999b81);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.c6{
  background: linear-gradient(
    to right,
    #d4af37,
    #f5f5f5,
    #ffd700,
    #c0c0c0   
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.b1{
   background: linear-gradient(to right, #240b36, #460827);
}